.sec{
    margin-top: 10%;
    margin-left: 35%;
    width: 30%;
}
.sec1{
    margin-top: 3%;
    margin-left: 35%;
}
input{
    float: right;
    padding: 1% 3%;
}
button{
    padding: 2% 2%;
}
th,td{
    padding: 10px;
}